body{
    margin: 0;
    padding: 0;
    background-image: url("./pg.jpg");
    background-size: cover;
    background-color: azure;
}
form{
    max-width: 800px;
    margin: auto;
    background-color: rgba(199, 196, 196, 0.952);
    padding: 10px;
}
form div{
    margin: 10px;
}
h1{
    text-align: center;
}
input[type="text"],input[type="text2"]{
    width: 40%;
    padding: 10px;
    margin-left: 45px;
    border-radius: 3px;
    border: none;
    outline: none;
    display: inline-block;
}
input[type="email"],input[type="number"],select,textarea{
    width: 100%;
    padding: 10px;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    outline: none;
}

input[type="date"],input[type="file"],input[type="password"]{
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: none;
    outline: none;
}
input[type="submit"]{
    width: 20%;
    padding: 8px;
    background-color: rgba(60, 148, 231, 0.452);
    display: block;
    margin: 20px auto;
    font-size: medium;
    font-weight: 300;
    border-radius: 20px;
    cursor: pointer;    
}
input[type="submit"]:hover{
    background-color: rgb(68, 115, 216);
}
form div{
    margin: 10px auto;
    width: 700px;
}

label{
    display: inline-block;
    width: 100px;
    margin-left: 55px;
}
