{% load static %}

<link
  rel="stylesheet"
  href="{% static 'authentication/vendor/css/bootstrap.min.css' %}"
/>
<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="padding: 10px">
  <div class="container">
    <!-- Brand -->
    <strong>
      <a class="navbar-brand text-warning" href="#">FMS</a>
      <!-- <img src="img.jpg" alt="not found"> -->
    </strong>

    <!-- Toggler/collapsibe Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
