{% extends "base.html" %}
{% load static %}
{% block css %}
<title>ADMISSION FORM</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: 'Roboto', Arial, sans-serif;
      background-color: #f7f7f7;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 30px;
      background-color: #ffffff;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .container h2 {
      text-align: center;
      margin-bottom: 30px;
      color: #333333;
    }

    .form-group label {
      font-weight: bold;
      color: #333333;
    }

    .form-group .custom-file-label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .form-group .button-container {
      text-align: center;
    }
    
  </style>
{% endblock css %}
{% block content %}

  
</head>
<body>
  <div class="container py-4">
    <h2 class="text-center mb-4">ADMISSION FORM</h2> <hr>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.enumber.id_for_label }}">Enrollment/Application Number:</label>
        <input type="text" id="{{ form.enumber.id_for_label }}"  name="{{ form.enumber.html_name }}" class="form-control" placeholder="Enter your application number" required>
      </div>
      <div class="form-group">
        <label for="{{ form.fullname.id_for_label }} ">Full Name:</label>
        <input type="text" id="{{ form.fullname.id_for_label }}" value="{{ fname }}"  name="{{ form.fullname.html_name }}" class="form-control" placeholder="Enter your full name" required>
      </div>
      <div class="form-group">
        <label for="{{ form.course.id_for_label }}">Select Course:</label>
        <select name="{{ form.course.html_name }}" id="{{ form.course.id_for_label }}" required>
          <option selected disabled> Select Course: </option>
          {% for course in form.course.field.queryset %}
            <option value="{{ course.pk }}">{{ course.coursename }}</option>
          {% endfor %}
      </select>
      </div>
      <div class="form-group">
        <label for="{{ form.fee.id_for_label }}">Total Fee:</label>
        <select name="{{ form.fee.html_name }}" id="{{ form.fee.id_for_label }}" required>
          <!-- <option selected disabled> Select Course: </option> -->
          {% for fee in form.fee.field.queryset %}
            <option value="{{ fee.fk }}">{{ fee.amount }}</option>
          {% endfor %}
      </select>
      </div>
      <div class="form-group">
        <label for="{{ form.gender.id_for_label }}">Gender:</label>
        <div style="display: inline; padding: 20px;">
          <input type="radio" id="male" name="gender" value="male">
          <label for="male">Male</label>
        </div>
        <div style="display: inline; padding: 20px;">
          <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label>
        </div>
        <div style="display: inline; padding: 20px;">
          <input type="radio" id="other" name="gender" value="other">
          <label for="other">Other</label>
        </div>
      </div>

      <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Email:</label>
        <input type="email" id="{{ form.email.id_for_label }}" value="{{ email }}" name="{{ form.email.html_name }}" class="form-control" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <label for="{{ form.dob.id_for_label }}">Date of Birth:</label>
        <input type="date" id="{{ form.dob.id_for_label }}" name="{{ form.dob.html_name }}" class="form-control" max="2024-12-31" required>
      </div>
      <div class="form-group">
        <label for="{{ form.phone.id_for_label }}">Mobile Number:</label>
        <input type="tel" id="{{ form.phone.id_for_label }}" name="{{ form.phone.html_name }}" class="form-control" placeholder="Enter your mobile number" required>
      </div>
      <div class="form-group">
        <label for="{{ form.adhaarnumber.id_for_label }}">Aadhaar Card Number:</label>
        <input type="text" id="{{ form.adhaarnumber.id_for_label }}" name="{{ form.adhaarnumber.html_name }}" class="form-control" placeholder="Enter your adhaar number" required>
	  </div>
    <div class="form-group">
      <label for="{{ form.fname.id_for_label }} ">Father Name:</label>
      <input type="text" id="{{ form.fname.id_for_label }}" name="{{ form.fname.html_name }}" class="form-control" placeholder="Enter your Father's name" required>
    </div><div class="form-group">
      <label for="{{ form.mname.id_for_label }} ">Mother Name:</label>
      <input type="text" id="{{ form.mname.id_for_label }}" name="{{ form.mname.html_name }}" class="form-control" placeholder="Enter your Mother's name" required>
    </div>
	  <div class="form-group">
        <label for="{{ form.address.id_for_label }}">Complete Address:</label>
        <textarea id="{{ form.address.id_for_label }}" name="{{ form.address.html_name }}" rows="4" class="form-control" placeholder="Enter your address here..." required></textarea>
      </div>
      <div class="form-group">
        <label for="{{ form.highmarks.id_for_label }}">10th Grade Marks:</label>
        <input type="number" id="{{ form.highmarks.id_for_label }}" name="{{ form.highmarks.html_name }}" class="form-control" placeholder="in percentage" value="00.00" required>
      </div>
      <div class="form-group">
        <label for="{{ form.intermarks.id_for_label }}">12th Grade Marks:</label>
        <input type="number" id="{{ form.intermarks.id_for_label }}" name="{{ form.intermarks.html_name }}" class="form-control" placeholder="in percentage" value="00.00" required>
      </div>
      <div class="form-group">
        <label for="{{ form.graduationmarks.id_for_label }}">Graduation Marks:</label>
        <input type="number" id="{{ form.graduationmarks.id_for_label }}" name="{{ form.graduationmarks.html_name }}" class="form-control" placeholder="in percentage" value="00.00" required>
      </div>
      <div class="form-group">
        <label for="upload">Upload Related Documents*:</label>
        </div>
        <div class="custom-file">
          <label  for="{{ form.profileimage.id_for_label }}"><b> Upload Profile Picture (passport size, jpeg):</b></label>
          <input type="file"  id="{{ form.profileimage.id_for_label }}" name="{{ form.profileimage.html_name }}" style="margin-left: 83px;" required multiple>
        </div>
        <div class="custom-file">
          <label  for="{{ form.adhaarpdf.id_for_label }}"><b> Upload Adhaar Card (PDF form):</b></label>
          <input type="file"  id="{{ form.adhaarpdf.id_for_label }}" name="{{ form.adhaarpdf.html_name }}" style="margin-left: 165px;" required multiple>
        </div>
        <div class="custom-file">
          <label for="{{ form.highschoolpdf.id_for_label }}"><b> Upload 10th Marksheet (PDF form):</b></label>
          <input type="file" id="{{ form.highschoolpdf.id_for_label }}" name="{{ form.highschoolpdf.html_name }}" style="margin-left: 140px;" required multiple>
        </div>
        <div class="custom-file">
          <label for="{{ form.interpdf.id_for_label }}"><b>Upload 12th Marksheet (PDF form):</b></label>
          <input type="file" id="{{ form.interpdf.id_for_label }}" name="{{ form.interpdf.html_name }}" style="margin-left: 141px;" required multiple>
        </div>
        <div class="custom-file">
          <label for="{{ form.graduationpdf.id_for_label }}"><b>Upload Graduation Marksheet (Combined,PDF form):</b></label>
          <input type="file" id="{{ form.graduationpdf.id_for_label }}" name="{{ form.graduationpdf.html_name }}" style="margin-left: 9px;" required multiple>
        </div>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock content %}

    
    
    


        