{% extends "base.html" %}
{% load static %}
{% block css %}
<title>Enrollment/Application Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: 'Roboto', Arial, sans-serif;
      background-color: #f7f7f7;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 30px;
      background-color: #ffffff;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .container h2 {
      text-align: center;
      margin-bottom: 30px;
      color: #333333;
    }

    .form-group label {
      font-weight: bold;
      color: #333333;
    }

    .form-group .custom-file-label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .form-group .button-container {
      text-align: center;
    }
  </style>
{% endblock css %}
{% block content %}

  
</head>
<body>
  <div class="container py-4">
    <h2 class="text-center mb-4">ADMISSION FORM</h2> <hr>
    <form action="#" method="post">
      <div class="form-group">
        <label for="enrollment-number">Enrollment/Application Number:</label>
        <input type="text" id="enrollment-number" name="enumber" class="form-control" placeholder="Enter your application number" required>
      </div>
      <div class="form-group">
        <label for="full-name">Full Name:</label>
        <input type="text" id="full-name" name="fullname" class="form-control" placeholder="Enter your full name" required>
      </div>
      <div class="form-group">
		<label for="gender">Gender:</label>
		<div style="display: inline; padding: 20px;">
		  <input type="radio" id="male" name="gender" value="male">
		  <label for="male">Male</label>
		</div>
		<div style="display: inline; padding: 20px;">
		  <input type="radio" id="female" name="gender" value="female">
		  <label for="female">Female</label>
		</div>
		<div style="display: inline; padding: 20px;">
		  <input type="radio" id="other" name="gender" value="other">
		  <label for="other">Other</label>
		</div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="phone">Mobile Number:</label>
        <input type="tel" id="phone" name="phone" class="form-control" placeholder="Enter your mobile number" required>
      </div>
      <div class="form-group">
        <label for="adhar-number">Aadhaar Card Number:</label>
        <input type="text" id="adhar-number" name="adhaarnumber" class="form-control" placeholder="Enter your adhaar number" required>
	  </div>
	  <div class="form-group">
        <label for="address">Complete Address:</label>
        <textarea id="address" name="address" rows="4" class="form-control" placeholder="Enter your address here..." required></textarea>
      </div>
      <div class="form-group">
        <label for="10th-marks">10th Grade Marks:</label>
        <input type="number" id="10th-marks" name="highmarks" class="form-control" placeholder="in percentage" value="00.00" required>
      </div>
      <div class="form-group">
        <label for="12th-marks">12th Grade Marks:</label>
        <input type="number" id="12th-marks" name="intermarks" class="form-control" placeholder="in percentage" value="00.00" required>
      </div>
      <div class="form-group">
        <label for="graduation-marks">Graduation Marks:</label>
        <input type="number" id="graduation-marks" name="graduationmarks" class="form-control" placeholder="in percentage" value="00.00" required>
      </div>
      <div class="form-group">
        <label for="document-upload">Upload Related Documents*:</label>
        <div class="custom-file">
          <input type="image" class="custom-file-input" id="document-upload" name="profileimage" required multiple>
          <label class="custom-file-label" for="document-upload">Upload Profile Picture (passport size, jpeg)</label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="document-upload" name="adhaarpdf" required multiple>
          <label class="custom-file-label" for="document-upload">Upload Adhaar Card (PDF form)</label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="document-upload" name="highschoolpdf" required multiple>
          <label class="custom-file-label" for="document-upload">Upload 10th Marksheet (PDF form)</label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="document-upload" name="interpdf" required multiple>
          <label class="custom-file-label" for="document-upload">Upload 12th Marksheet (PDF form)</label>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="document-upload" name="graduationpdf" required multiple>
          <label class="custom-file-label" for="document-upload">Upload Graduation Marksheet (Combined,PDF form)</label>
        </div>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock content %}

    
    
    


        