{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'/>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <title>Dashboard</title>
    <style>
      footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px; /* Set the height of the footer */
      background-color: #333;
      color: #fff;
      text-align: center;
    }
      footer {
        background-color: #343a40;
        color: #ffcc00;
        padding: 40px;
      }

      .footer-container {
        display: flex;
        justify-content: space-between;
      }

      .footer-left p {
        margin: 0;
      }

      .footer-right ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .footer-right li {
        display: inline-block;
        margin-right: 20px;
      }

      .footer-right li:last-child {
        margin-right: 0;
      }

      .footer-right a {
        color: #ffcc00;
        text-decoration: none;
      }

      .footer-right a:hover {
        text-decoration: underline;
      }
      p{
        padding: 3px;
        margin-left: 60px;
      }
      div .black:hover{
        width: 100%;
        background-color: black;
      }
    </style>
  </head>
  <div>
    <div class="bg-dark text-white" style=" padding: 10px;">
      <div class="container-fluid ">
        <h5> Fees Management System</h5></div>
    </div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark" style="padding: 10px;">
      <div class="container-fluid">
        <!-- Brand -->
        <strong>
          <a class="navbar-brand text-warning" href="#"> 
           <img
            src="{% static 'images/logo.png' %}"
            alt="image not found"
            style="height: 8vh; border-radius: 20px"
          /></a>
          <!-- <img src="img.jpg" alt="not found"> -->
        </strong>

        <!-- Toggler/collapsibe Button -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            
          </ul>
          
        </div> -->
        <!--  <form class="form-inline my-lg-0"> -->
          <ul class="navbar-nav">
            {% if not user.is_authenticated %}
          <li class="nav-item">
            <a href="/signup">
              <button
                type="submit"
                class="btn btn-outline-light form-control"
                value="Sign Up"
              >
                Sign Up
              </button></a
            >
          </li>
          <li class="mx-2  nav-item">
            <a href="/signin"
            ><button type="submit" class=" btn btn-outline-light form-control">
              Sign In
            </button></a>    
          </li>
          {% else %}
          <!-- <li class="mx-2  nav-item">
            <a href="/signout"
            ><button type="submit" class=" btn btn-outline-light form-control">
              Sign Out
            </button></a>    
          </li> -->
          {% endif %}
          </ul>
          <!-- <li class="mx-2 nav-item"><input class="  form-control " type="search" placeholder="Search" aria-label="Search"> </li>
          <li class="mx-2 nav-item"><button class=" btn btn-outline-success  " type="submit">Search</button> </li>
        </form> -->
      </div>
    </nav>

    
    <div class="container">
      <div class="jumbotron">
        {% for message in messages %}
        <div
          class="alert alert-{{ message.tags }} alert-dismissible fade show"
          role="alert"
        >
          <strong>Message:</strong> {{ message }}
          <!-- <button
            type="button"s
            class="close"
            data-dismiss="alert"
            aria-lable="Close"
          >
            <span aria-hidden="true"></span>
          </button> -->
        </div>
        {% endfor %}

        <!-- <h3 class="text-center">Authentication </h3> -->

        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 text-white "  style="background-color: rgb(48, 55, 55); height: 100vh;">
      <div class="black">
        <p class="pt-4"> <img src="{% static 'images/dashboard.png' %}" alt="" > Dashboard</p>
        <hr>
      </div>
      <div class="black">
        <p><img src="https://img.icons8.com/material/24/FFFFFF/user-male-circle--v1.png"/> Profile</p>
        <hr>
      </div>
      <div class="black">
        <p><img src="{% static 'images/form.png' %}" alt="" > Addmission Form</p>
        <hr>
      </div>
      <div class="black">
        <p><img src="{% static 'images/Payment.png' %}" alt="" > Payments</p>
        <hr>
      </div>
      <div class="black">
        <p><img src="{% static 'images/receipt.png' %}" alt="" > Fee Receipt</p>
        <hr>
      </div>
      <div class="black" >
        <p><img src="{% static 'images/setting.png' %}" alt="" > Setting</p>
        <hr>
      </div>
      {% if user.is_authenticated %}
      <div class="black">
        <p><a href="/signout" style="text-decoration: none; color: white;"> <img src="https://img.icons8.com/material/24/FFFFFF/exit.png"/> Logout</a></p>
        <hr>
      </div>
      {% endif %}
      </div>
      <div class="col-sm-10">
        <div class="mt-4 mx-4" style="background-color: rgb(249, 240, 230);">
        <div  class="mx-3" style="height: 60vh; ">
          <strong><h1> <u>DASHBOARD</u> </h1></strong> <br><hr>
          {% if user.is_authenticated %}
        <!-- <h4 class="text-center">Welcome to Dashboard</h4> -->
        <h3>Hello {{ fname }}&nbsp;{{ lname }}</h3>
        <h4>You're successfully logged in.</h4>
            
        </div>
        
        {% endif %}
        </div> 
        <!-- <p>hello</p> -->
      </div>
    </div>
  </div>
    <footer>
      <div class="footer-container">
        <div class="footer-left">
          <strong>
            <h5>
              <p>Fees Management System &copy; 2023</p>
            </h5>
          </strong>
        </div>
        <div class="footer-right">
          <strong> 
            <h6>
  
              <ul>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </h6>
          </strong>
        </div>
      </div>
    </footer>
  </body>
</html>
