{% extends 'utility/header.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block content %}
<div class="container ">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <!-- Success message -->
    <h3>Password Change Successfully !!</h3>
    <div>
        <!-- <iframe src="https://giphy.com/embed/Mf8Fh1MFTjTvk28GKP" width="200px" height="200px" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> -->
        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="300" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
 </div>
</div>
{% endblock content %} 