{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}
{% block content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{firstname}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <!-- Success message -->
    <h3>Password Change Successfully !!</h3>
    <div>
        <!-- <iframe src="https://giphy.com/embed/Mf8Fh1MFTjTvk28GKP" width="200px" height="200px" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> -->
        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
 </div>
</div>
{% endblock content %} 