{% extends "base.html" %}

{% block content %}

   {% if status %} 
        <div class="text-center mt-5 pt-5">
            <img src="https://cdn.onlinewebfonts.com/svg/img_100251.png" alt="source not found" class="img-fluid img-responsive" style="height: 200px;">
            <h2 class="mt-4">Thanks your payment has been received</h2>
        </div>
    {% else %}
        <div class="text-center mt-5 pt-5">
            <h2 class="mt-4">Your payment is failed! Try again.</h2>
        </div>
    {% endif %}
        <div class="text-center mt-5">
            <a href="{% url 'payment' %}" class="btn btn-primary" role="button">Pay Again</a>
        </div>

{% endblock %}