{% extends 'base.html' %}
{% load static %}
{% block css %}
<style>
  body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

  .profile-picture {
    max-width: 200px;
    border-radius: 20%;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .section-heading {
    margin: 0;
    color: #333;
  }

  .section-content {
    margin-bottom: 20px;
  }

  .section-content p {
    margin: 5px 0;
    color: #666;
  }

  .section-content table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
  }

  .section-content th,
  .section-content td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  .section-content th {
    background-color: #f4f4f4;
    color: #333;
  }
</style>
{% endblock css %}
{% block content %}


    <div class="container">
      <img style="float: right;"
        class="profile-picture"
        src="{% static 'images/profile2.jpeg' %}"
        alt="Profile Picture"
      />
      {% if user.is_authenticated %}
      <!-- <h4 class="text-center">Welcome to Dashboard</h4> -->
      <!-- <h3>Hello {{ request.user.first_name }}&nbsp;{{ request.user.last_name }}</h3> -->
      <!-- <h4>You're successfully logged in.</h4> -->

      {% endif %}
      <!-- <hr> -->
      <div class="section-content">
        <h2 class="section-heading">Personal Information</h2>
        <p><strong>Full Name:</strong> {{ request.user.first_name }}&nbsp;{{ request.user.last_name }}</</p>
        <p><strong>Date of Birth:</strong> {{ request.user.dob }}</p>
        <p><strong>Email:</strong> {{ request.user.email }}</p>
        <p><strong>Phone:</strong> +1 123 456 7890</p>
        <p><strong>Address:</strong> 123 Main Street, City, State, ZIP</p>
      </div>
      <!-- <div class="section-content">
        <h2 class="section-heading">Family Information</h2>
        <table>
          <tr>
            <th>Relation</th>
            <th>Name</th>
            <th>Occupation</th>
          </tr>
          <tr>
            <td>Parent</td>
            <td>Jane Doe</td>
            <td>Engineer</td>
          </tr>
          <tr>
            <td>Parent</td>
            <td>John Doe Sr.</td>
            <td>Doctor</td>
          </tr>
          <tr>
            <td>Sibling</td>
            <td>Jennifer Doe</td>
            <td>Student</td>
          </tr>
        </table>
      </div>
      <div class="section-content">
        <h2 class="section-heading">Educational Information</h2>
        <p><strong>University:</strong> XYZ University</p>
        <p><strong>Major:</strong> Computer Science</p>
        <p><strong>Expected Graduation:</strong> May 2024</p>
        <p><strong>GPA:</strong> 3.8</p>
      </div> -->
    </div>
{% endblock content %}
