<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
    <style>
      #main-header{
    background-color: coral;
    color: white;
    /* padding-left: 30px; */
}
    </style>
  </head>
  <body>
    <body>
      <div class="bg-dark text-white">
        <div class="container"> <h5> Fee Management System</h5></div>
      </div>
      <div class="container">
        <div class="jumbotron">
      {% for message in messages %}
    <div
    class="alert alert-{{ message.tags }} alert-dismissible fade show"
    role="alert"
    >
      <strong>Message:</strong> {{ message }}
      <!-- <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-lable="Close"
      >
        <span aria-hidden="true"></span>
      </button> -->
    </div>
    {% endfor %}

        <h3 class="text-center">Log In to your account!</h3>
        <form action="/signin" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for=""
              >Username
            </label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Enter Your Username (only letters and numbers)"
                required
              />
          </div>
          <div class="form-group">
            <label for=""
              >Password
            </label>
              <input
                type="password"
                class="form-control"
                id="pass1"
                name="pass1"
                placeholder="Enter Your Password"
                required
              />
          </div>
          <br />
          <a href=""></a>
          <button type="submit" class="btn btn-outline-dark form-control">Sign In</button>
        </form>

      </div>
    </div>
    

  </body>
</html>
